.card {
  width: 100px;
  height: 100px;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5px;
}

.delete {
  font-size: 20px;
  border: none;
  background: transparent;
  position: absolute;
  top: -5px;
  right: 5px;
}

.changeColor {
  width: 60px;
}
