.app {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.color_cards {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.form {
  border: 2px solid blueviolet;
  padding: 3px;
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form__input {
  width: 100%;
}
